h1{
    text-align:center;
}
.first-container{
    border:20px solid rgb(28,100,112);
    margin: 0 auto;
    width:700px;
    padding-bottom:50px;
    background-color: #f2f2f2;
    font-size:20px;
}
form{
   margin: 0 auto;
    width: 700px;
}
.main-container{
  

    background-color:white;
}
.namecolor{
    color:darkgreen;
    font-weight: bold;;
}
.name-container,.password-container,.genderhobbies-container,.sourceincome-container,.uploadage-container{
    display:flex;
    
   
}
.name-field,.password-field,.source-field,.range-field,.upload-field,.age-field{
    display:flex;
    width:49%;
    flex-direction:column;
    margin:10px;

}
.gender-field,.checkbox-field{
    width:49%;
    margin:10px;

}
.inputbox{
    padding:5px;
    font-size:15px;
}
.email-container{
    margin:10px;
}
.textarea-container{
    margin:10px;
}
.Email,.textbio{
    width:98%;
    padding:5px;
    font-size:15px;
   
}
.moneyrange{
    width:80%;
}
.moneybutton{
    color:white;
    background-color:green;
}
.button{
    float:right;
    color:white;
    background-color: rgb(12, 158, 129);
    padding:10px;
    margin-right:20px;
    border-radius: 10px;
    width:100px;
    border-width:0;

}
@media only screen and (max-width: 480px) {
    body {
      background-color: lightblue;
    }
    .name-field,.password-field,.source-field,.range-field,.upload-field,.age-field,.gender-field,.checkbox-field{
        width:98%;
        flex-direction:column;
    }
.name-container,.password-container,.genderhobbies-container,.sourceincome-container,.uploadage-container{
    flex-direction: column;

  }
}