.image-size {
    width: 40px;
    height:38px;
}
.profile-image{
  height:150px;
  width:160px;
   
}
#profilesection{
    background-color:rgb(236, 233, 233);;
}
#educationSection{
    background-color:rgb(139, 139, 209);;
}
#skillsection{
   
    background-color:rgb(199, 240, 217);
}
#contactsection{
    background-color:rgb(244, 230, 206);;
}
.bg{
    width:750px;
    margin:0 auto;
    border:1px solid rgb(85, 82, 82);
   border-radius:10px;
}
p{
    font-size:15px;;
}
h5{
    color:rgb(43, 39, 39);
}
.education-container,.skill-container{
   
        border-radius: 10px;
        border-color: #e5eaf4;
        border-style: solid;
        border-width: 2px;
        padding:1px;
        
       background-color: white;
    
}

h3{
    font-weight:700px;
}
p{
    padding:10px;
}
.follow-us-icon-container {
   padding:20px;
   margin:15px;
    background-color: #faf7e8;
    width:80px;
    height: 75px;
   
}
