.container{
    margin:0 auto;
    width:430px;
    border:5px solid grey;
    background-color:rgb(197, 194, 194);
    
    border-radius:10px;
    padding:15px;
}
.sub-container{
    border:2px solid grey;
    border-radius:5px;
    background-color: rgb(217, 231, 235);
}
.controlicons{
   margin-left:160px;   
}
.controlicons i{
    cursor:pointer;   
}
h1{
    font-size:20px;
    margin:10px;
    margin-top:0;
}
.button{
    border:1px solid grey;
    color:rgb(3, 3, 82);
    font-weight:700px;
}
.second-container{
    border-radius:10px;
    padding:10px 10px 10px 10px;
    justify-content:center;  
}
.rowmargin{
   display:flex;
  justify-content: center;

}