@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.bg{
    margin: 0 auto;
    margin-top:10px;
    width: 900px;
    border: 2px solid rgb(149, 147, 147);
    background-color:rgb(239, 199, 219);
    border-radius:30px;
}
body.dark-mode #themeToggleButton,body.dark-mode .ExportButton,body.dark-mode .ImportButton,body.dark-mode .input-with-icon{
    background-color:black;
    color:white;
    border-color:white;
}
body.dark-mode .fa-moon {
            display: none;
        }
body.light-mode .fa-sun {
        display: none;
}
body.dark-mode .label-container,body.dark-mode  .subtask-container,body.dark-mode .todo-item-container,body.dark-mode .bg,body.dark-mode .subtask-item{
    background-color:#000000;
   
}
body.light-mode  .btn, body.dark-mode .modal-content2, body.dark-mode .modal-content{
    color:black;
}
body.dark-mode .todo-item-container{
    border:2px solid white;

}
body.light-mode .searchbutton{
    border-color:2px solid black;;
}
body.light-mode {
    background-color:white;
    color:black
}
body.dark-mode{
    background-color:#000000;
    color:white;
}
.theme-toggle button {
    background: none;
    cursor: pointer;
}
#themeToggleButton{
    float:right;
    margin-top: 1px;
   
}
.input-with-icon {
    position: relative;
    float:right;
    width:60%;  
}
.input-with-icon input {
    padding-left:45px;
     width:100%;
}
.input-with-icon .fas.fa-search {
    position: absolute;
    padding-left:40;
    top: 50%;
    margin-left:10px;
    transform: translateY(-50%);
    color: #aaa;
    cursor: pointer;
}
.todo-item-container {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f8f9fa;
}
.todos-bg-container {
    height: 100vh;
  
}
.todos-heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 15px;
}
.create-task-heading, .todo-items-heading{
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 700;
}
.create-subtask-heading,.Edit-subtask-heading  {
    text-align:center;
    font-size:22px;
}
.create-task-heading-subpart ,.todo-items-heading-subpart{
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 500;
}
.todo-items-container {
    margin: 0px;
    padding: 0px;
}
.todo-item-container {
    margin-top: 15px;
    border: 2px solid #605e5e;
    
   
}
.todo-user-input {
    width:50%;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}
.duration-user-input, .durationtime-user-input {
    width: 17%;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}
.subtask-input-container {
    align-items: center;
    margin-bottom: 10px;
}
.subtask-user-input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-right: 5px;
    flex: 1;
}
.subtask-item {
    list-style: none;
    padding: 10px;
    border: 1px solid #605e5e;
    background-color:rgb(228, 206, 206);
    margin:10px;
}
.order-user-input{
    width:50%;
    border-style: solid;
    border-width: 1px;
    text-align:center;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}  
.priority-user-input {
    width: 13%;
    border-style: solid;
    border-width: 1px;
    text-align:center;
   
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}
.add-todo-button,.savebutton {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0px;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}
.label-container {
    background-color: #c0d6e3;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    padding:5px;
    border-color: #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
}
.subtask-container{
    background-color: #c0d6e3;
    width: 100%;
    margin-top: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #6c7a80;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
}
.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
}
.subcheckbox-label{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    width: 50%;
    margin: 0px;
    padding:10px 20px;

}
.checkbox-label{
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
    width: 50%;
    margin: 0px;
    padding:10px 20px;
}
.priority-label, .date-time-label{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    padding:10px 20px; 
    width:30%;
}
.delete-icon-container,.edit-icon-container {
    text-align: right;
    width: 10%;
}
.add-icon-container{
    text-align:left;
    padding-left:10px;
    padding-top:10px;
    width:10%;
    font-weight:bold;
    font-size:20px;
}
.add-icon{
   
    margin-top:5px;
    padding:15px;
   
}
.delete-icon ,.edit-icon{
    padding: 15px;
}
.checked {
    text-decoration: line-through;
}
.draggable {
    cursor: move;
}
.dragging {
    opacity: 0.5;
}

.over {
    border: 2px dashed #000;
}
.modal,.modal2,.submodal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin:0 auto;   
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content,.modal-content2{
    margin: 15% auto;
    padding: 20px;
    width:40%;
    background-color: #e6f6ff;
    border: 1px solid #888;
   
}
.close,.closesub,.close-subtask-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus,
.closesub:hover,
.closesub:focus,.close-subtask-modal:hover,.close-subtask-modal:focus
 {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#editForm button {
    margin-right: 10px;
}
#cancelButton {
    background-color: #ccc;
    color: #000;
}
#cancelButton:hover {
    background-color: #bbb;
}
.sub,.label{
    margin-left:50px;
    width:70%;
}
.searchsub{
    border:2px solid red;
}
.ImportButton,.ExportButton{
    border-radius:10px;
    padding:10px;
    width:65px;
    margin:5px;
}
