@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}
body.dark-mode .checkbox-label,body.dark-mode .priority-label {
    color: #000000;
}
body.dark-mode .delete-icon {
    color: #000000;
}
body.dark-mode .edit-icon {
    color: #000000;
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}
body.dark-mode #themeToggleButton{
    background-color:#ffffff;
}
.theme-toggle button {
    
}
body.dark-mode .fa-moon {
            display: none;
        }
body.light-mode .fa-sun {
        display: none;
}
body.light-mode .searchbutton{
    border-color:2px solid black;;
}
.theme-toggle button {
    background: none;
   
    cursor: pointer;
}
#themeToggleButton{
    float:right;
    margin-top: 1px;
   
}
.input-with-icon {
    position: relative;
  
   
}
.input-with-icon input {
    padding-left: 50px; /* Adjust this value based on icon and padding size */
}
.input-with-icon .fas.fa-search {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    cursor: pointer;
}
.input-with-icon{
    width:20%;
}
.todo-item-container {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f8f9fa;
}

.todos-bg-container {
    height: 100vh;
  
}

.todos-heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 15px;
}

.create-task-heading, .todo-items-heading  {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 700;
}

.create-task-heading-subpart ,.todo-items-heading-subpart{
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 500;
}

.todo-items-container {
    margin: 0px;
    padding: 0px;
}

.todo-item-container {
    margin-top: 15px;
}

.todo-user-input {
    /*background-color: white;*/
    width: 64%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}
.priority-user-input {
    /*background-color: white;*/
    width: 35%;
    border-style: solid;
    border-width: 1px;
    text-align:center;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}

.add-todo-button {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0px;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.label-container {
    background-color: #e6f6ff;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
}

.checkbox-label{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    width: 50%;
    margin: 0px;
    padding:10px 20px;
}
.priority-label{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    padding:10px 20px; 
    width:30%;
}
.delete-icon-container,.edit-icon-container {
    text-align: right;
    width: 10%;
}

.delete-icon ,.edit-icon{
    padding: 15px;
}

.checked {
    text-decoration: line-through;
}

.draggable {
    cursor: move;
}

.dragging {
    opacity: 0.5;
}

.over {
    border: 2px dashed #000;
}


